{% extends 'base.html' %}
{% load static %}

{% block title %}
    GaaKU - Get Anything at KU
{% endblock %}

{% block body %}
	<!-- Cover Section -->
	<div class="cover-container">
		<div class="flexbox padding">
  			<div class="col2 text-alignment" style="flex-basis: 20%">
  				<h1 class="cover-title">Focused for the First Years</h1>
  				<p class="cover-text">
					Get good qualtity drafters
					straight from the hands from
					your trusty seniors and make
					your drawing classes easy
					and interesting.
				</p>
				<div class="view-btn">
					<a href="#" class="button">View More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</div>
  			</div>
  			<div class="col2 image-scroll" style="flex-basis: 70%">
				<img src="{% static 'image/Drafter.png' %}" class="cover-image first">
				<img src="{% static 'image/Electronics.png' %}" class="cover-image">
				<img src="{% static 'image/Homes and Furniture.png' %}" class="cover-image">
				<img src="{% static 'image/Drafter.png' %}" class="cover-image">
				<img src="{% static 'image/Education Materials.png' %}" class="cover-image">
				<img src="{% static 'image/Homes and Furniture.png' %}" class="cover-image">
			</div>
		</div>
	</div>


	<!-- Scrolling Section -->
	<div class="scrolling-container">
		<div class="flexbox content-manipulation">
			<div class="col8 left scroll-button">
				<img src="{% static 'image/Scrolling-left.png' %}">
			</div>
			<div class="col8 circle circle-active">
				<img src="{% static 'image/Drafter-circle.png'%}" >
			</div>
			<div class="col8 circle">
				<img src="{% static 'image/Electronics-circle.png'%}">
			</div>
			<div class="col8 circle">
				<img src="{% static 'image/Furniture-circle.png'%}">
			</div>
			<div class="col8 circle">
				<img src="{% static 'image/Musical-circle.png'%}">
			</div>
			<div class="col8 circle">
				<img src="{% static 'image/books-circle.png'%}">
			</div>
			<div class="col8 circle">
				<img src="{% static 'image/Shoes-circle.png'%}">
			</div>
			<div class="col8 right scroll-button">
				<img src="{% static 'image/Scrolling-right.png'%}">
			</div>
		</div>
	</div>

	<!--New Arrivals-->
	<div class="new_arrival_container">
		<div class="new-arrival">
			<img src="{% static 'image/Arrival.png' %}" class="image">
		</div>
		<ul id="autoWidth" class="cs-hidden">
			{% for product in products %}
			  <li class="item-a">
				  <div class="product-card">
					<div class="badge">New</div>
					<div class="product-tumb">
						<img src="{{product.img.url}}" alt="" class="model">
					</div>
					<div class="product-details">
						<span class="product-catagory">{{product.category}}</span>
						<h4><a href="">{{product.name}}</a></h4>
						<div class="product-bottom-details">
							<div class="product-price">Rs.{{product.price}}</div>
							<div class="product-links">
								<a href=""><i class="fa fa-heart"></i></a>
							</div>
						</div>
					</div>
				</div>
			  </li>
			{% endfor %}
		  </ul>
	</div>
	<script type="text/javascript" src="{% static 'javascript/JQuery3.3.1.js' %}"></script>	
	<script type="text/javascript" src="{% static 'javascript/lightslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/lightsliderjs.js'%}"></script>
	
{% endblock %}

	

