{% extends 'base.html' %} {% load static %} {% block products %}
<div style="margin: auto">
  <h2 class="userheader" style="font-size: 50px; font-style: italic">
    {{view.kwargs.username}}'s Wishlist
  </h2>
</div>

<div class="product-container">
  {% for product in object_list %}
  <div class="product-card">
    {% if product.item.negotiation %}
    <div class="badge">Negotiable</div>
    {% else %}
    <div class="badge">Non-Negotiable</div>
    {% endif %}
    <div class="product-tumb">
      <img src="{{product.item.img.url}}" alt="" class="model" />
    </div>
    <div class="product-details">
      <span class="product-catagory">{{product.item.category}}</span>
      <h4>
        <a href="{% url 'sell-detail' product.item.pk %}"
          >{{product.item.name}} &nbsp;&nbsp; [{{product.quantity}}]</a
        >
      </h4>
      <div class="product-bottom-details">
        <div class="product-price">Rs.{{product.item.price}}</div>
        <div class="product-links">
          <a href="{% url 'sell-detail' product.item.pk %}"
            ><button type="button">View</button></a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock products %}
